<md-card>
    <md-card-title>Employee Data Grid</md-card-title>
    <md-card-subtitle>{{router.url}}</md-card-subtitle>
    <md-card-content>



        <md-toolbar>
            <span>Table Name</span>
            <span class="example-spacer"></span>
            <button md-icon-button>
                <md-icon class="md-18|md-24|md-36|md-48">add</md-icon>
            </button>
            <button md-icon-button>
                <md-icon class="md-18|md-24|md-36|md-48">search</md-icon>
            </button>
            <button md-icon-button>
                <md-icon class="md-18|md-24|md-36|md-48">import_export</md-icon>
            </button>
        </md-toolbar>

        <div class="example-header">
            <md-input-container floatPlaceholder="never" fxFlexFill>
                <input mdInput #filter placeholder="Search by Name or Id">
            </md-input-container>
        </div>


        <md-table #table [dataSource]="dataSource">

            <md-header-row *cdkHeaderRowDef="displayedColumns" fxHide.sm="false" fxHide.xs="true" fxGrow="2"></md-header-row>
            <md-row *cdkRowDef="let row; columns: displayedColumns;" fxHide.sm="true" fxHide.xs="true"></md-row>


            <ng-container cdkColumnDef="id">
                <md-header-cell *cdkHeaderCellDef> Id </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
            </ng-container>

            <ng-container cdkColumnDef="name">
                <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
            </ng-container>

            <ng-container cdkColumnDef="desc">
                <md-header-cell *cdkHeaderCellDef> Desc </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
            </ng-container>


        </md-table>


        <md-paginator #paginator 
        [length]="dataSource.resultLength" 
        [pageIndex]="0" 
        [pageSize]="2" 
        [pageSizeOptions]="[2,5, 10, 25, 100]">
        </md-paginator>

    </md-card-content>
</md-card>