<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
    <md-card fxFlexAlign="center">
        <md-card-header fxLayout="column" fxLayoutAlign="center center">
            <md-card-title>Your Application Name</md-card-title>
            <md-card-subtitle>Your Application Subtitle</md-card-subtitle>
            <img mdCardAvatar src="../../../assets/images/avatar.jpg">
        </md-card-header>
        <!-- <img mdCardImage src="#"> -->
        <md-card-content>
            <md-input-container floatPlaceholder="auto" fxFlexFill>
                <input mdInput type="email" placeholder="Your Email Address" required>
            </md-input-container>
            <md-input-container floatPlaceholder="auto" fxFlexFill>
                <input mdInput type="password" placeholder="Your Account Password" required>
            </md-input-container>
        </md-card-content>
        <md-card-actions fxLayout="column" fxLayoutAlign="center center">
            <button md-raised-button>Sign In</button>
            <button md-raised-button>Facebook SignIn</button>
            <button md-raised-button>Google SignIn</button>


        </md-card-actions>
        <md-card-footer fxLayoutAlign="center none">
            <md-card-subtitle>
                &copy; Copyright 2017 AMboard
            </md-card-subtitle>
        </md-card-footer>
    </md-card>


</div>