<md-sidenav-container>

  <!-- Side bar -->
  <md-sidenav #sidenav mode="side" [opened]="isOpen" color="primary" class="example-sidenav">
    <md-toolbar color="primary">{{title}}</md-toolbar>
    <md-list *ngFor="let menu of sideMenus">
      <md-list-item>
        <md-icon class="md-24">{{menu.icon}}</md-icon>
        <button md-button [routerLinkActive]="['router-link-active']" routerLink="{{menu.link}}">{{menu.name}}</button>
      </md-list-item>
      <md-divider *ngIf="menu.divider==true"></md-divider>
    </md-list>
  </md-sidenav>

  <!-- Toolbar-->
  <md-toolbar color="primary">

    <button md-icon-button (click)="sidenav.toggle()">
        <md-icon class="md-18" >menu</md-icon>
    </button>
    <span class="example-spacer"></span>
    <button md-icon-button [mdMenuTriggerFor]="theme">
        <md-icon class="md-18" >format_color_fill</md-icon>
    </button>

    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon class="md-18" >account_circle</md-icon>
    </button>

    <md-menu #menu="mdMenu" yPosition="below">
      <button md-menu-item>
          <md-icon>account_circle</md-icon>
          <span>Profile</span>
        </button>
      <button md-menu-item disabled>
        <md-icon>voicemail</md-icon>
        <span>Check voicemail</span>
      </button>
      <button md-menu-item>
        <md-icon>power_settings_new</md-icon>
        <span>Log Out</span>
        </button>
    </md-menu>

    <md-menu #theme="mdMenu">
      <button md-menu-item>
              <a md-mini-fab routerLink="."><md-icon>check</md-icon></a>
        </button>
      <button md-menu-item disabled>
            <a md-mini-fab routerLink="."><md-icon>check</md-icon></a>
      </button>
      <button md-menu-item>
           <a md-mini-fab routerLink="."><md-icon>check</md-icon></a>
        </button>
    </md-menu>




  </md-toolbar>

  <!-- Dashboard View -->
  <div fxLayout="column" fxLayoutAlign=" stretch" class="router-container mat-elevation-z6">

    <div fxFlex="95">
      <router-outlet></router-outlet>
    </div>

    <footer class="mat-elevation-z4" fxFlexFill fxFlex="5" fxLayoutAlign="center end">
      <span>&copy; 2017 Example Corporation</span>
    </footer>
  </div>




</md-sidenav-container>